$primary-color: #444;
$white-color: #fff;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(./img/background.png);
$background-opacity: 0.9;


@mixin easeOut {
  transition: all .5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &.bg-home {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      opacity: .9;

      // sudo element
      // when you use :after should have " content:' ' "
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}


// Media Query Mixin
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 768px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
