// WideScreens
@include mediaXL {

}

// Desktop & Laptops
@include mediaLg {

}

// Tablets & small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-hav {
    height: 75vh;
    tranform: translate3d(-100%, 0, 0);
    font-size: 1.6rem;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      // will change with random words
      background: url('./img/background.png');
      width: 150px;
      height: 160px;
    }
  }

}

// SmartPhones
@include mediaSm {

  // Menu Nav
  .menu-nav {
    .nav-item {
      line-height: 1rem;

      .nav-link {
        font-size: 1.5rem;
      }
    }
  }

  // Home Page
  main#home {
    .bg-home {
      &:after {
        top:7rem !important;
        right: 1.5rem !important;
        width: 90% !important;
      }
    }

    .home__heading  {
      margin-top: 1rem;
      font-size: 3.5rem;
    }

    .home__title {
      font-weight: 450 !important;
    }
  }

  // About Page
  main#about {
    .bg-about {
      &:after {
        top: 18rem !important;
        width: 90% !important;
      }
    }

    .about-bio {
      .about__title {
        margin-top: 1rem;
        font-size: 3.5rem;
      }
      .about-bio__title {
        font-size: 1.2rem;
      }
    }
  }

}
