<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, intial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>AgungTuanany | {{title}}</title>
  <!-- fontawesome css -->
  <link rel='stylesheet' href='css/all.min.css'>
  <!-- fontawesome css for SVG image -->
  <script defer src='js/all.min.js'></script>
  <link rel='stylesheet' href='css/main.css'>
</head>
<body id='bg-img'>
  {{> _nav}}
  {{{body}}}

  <script src='js/bundle.js'></script>
</body>
</html>
