<main id='about'>
  <div class='bg-about'></div>
  <div class='about-bio'>
    <h1 class='lg-heading about__title'>My <span class='text-secondary'>Bio</span></h1>
    <h1 class='about-bio__title'> I spending my free time increasing my knowledge in Web-Development and building a challenging project.
    </h1>
    <p class='about-bio_p'>
    </p>
  </div>
  <hr />
  <div class='about-skills'>
    <p class='about-skills_p'> I always enjoy learning a new things. Specially ,the tech that make your company or product special.
    </p>
    <p class='about-skills_p'>
      Some tools I like to work with include GIMP, HTML/CSS, SASS, NodeJS, React, VanillaJS, and Python.
    </p>
    <p class='about-skills_p'>
      In my free time, I became a private teacher for elementary school, riding road-bike in Jakarta.
    </p>
  </div>

</main>
