<main id='about'>
  <div class='bg-about'></div>
  <div class='about-container'>
    <h1 class='lg-heading about-heading'>My <span class='text-secondary'>Bio</span></h1>
    <h2 class='sm-heading about__title'>
      I spending my free time increasing my knowledge in Web-Development and building a challenging project.
    </h2>
    <hr />
    <p class='about__p'>
      I always enjoy learning a new things. Specially, the tech that make your company or product special.
      </p>
      <p class='about__p'>
        Some tools I like to work with include GIMP, HTML/CSS, SASS, NodeJS, React, VanillaJS, Python, and Vim.
      </p>
      <p class='about__p'>
        In my free time, I became a private tutor for elementary school children, and riding road-bike in Jakarta.
      </p>
      <p class='about__p'>
        <a href='mailto:agung.tuanany@gmail.com'>
          <i class='fas fa-envelope-open-text fa-2x'></i> shoot me an email at <span>agung.tuanany@gmail.com</span>
        <a/>
      </p>
  </div>

</main>
