<main id='home'>
  <h1 class='lg-heading'>
    Agung <span class='text-secondary'>Tuanany</span>
  </h1>
    <h2 class='sm-heading'>
      Web Developer, Programmer, Designer & entrepeneur
    </h2>
    <div class='icons'>
      <a href='https://github.com/agungTuanany' class='icon-fa' target='_blank'>
        <i class='fab fa-github fa-2x'></i>
      </a>
      <a href='https://linkedin.com/in/agung-tuanany-758051a5' class='icon-fa' target='_blank'>
        <i class='fab fa-linkedin fa-2x'></i>
      </a>
    </div>
</main>
