<main class='details'>
  <img src='{{img}}' alt=''>
  <h1>{{titlePortfolio}}</h1>
  <hr>
  <h1>{{description}}</h1>
  <ul>
  {{#each details}}
    <li>{{this}}</li>
  {{/each}}
  </ul>

  <a href='/portfolio'>back</a>
</main>
